*{
    font-family: "Roboto,Noto";
    font-size: 14px;
    padding: 0;
    margin: 0;
}
body{
    background:#e2e2e2;
    color: #ef7900;
}
.container-fluid{
    margin-top: 6px;
    background: #000;
    box-shadow: 10px 10px 5px #aaa;
    border-radius: 20px;

}
.pull-right{
    margin-left: 10px;
}
.btn-sm{
    margin-bottom:6px ;
    position:relative;
    top:-6px;
}
/*提示信息*/
.hint{
    height:30px;
    line-height: 2em;
    background: #f39400;
    width:160px;
    border-radius: 6px;
    color: #000;
    font-size:14px;
}
#list{
    height:500px;
    overflow:scroll;
    margin-bottom: 20px;
    width:180px;
    overflow-x: hidden;
}
svg{
    margin-top: 5px;
}
.nodeLeft{
    border: 1px solid #f00;
}
.btn-warning{
    background: #F5B400;
}
.btn-sm{
    color: #333;
}
.btn-sm:hover{
    color: #333;
}
.page-header{
    margin-bottom: 0;
}
image{
    border-radius: 50%;
}
.baseBack{
    background-color:#00c1de;
}
.detail{
    color:#fff;
}
